@charset "UTF-8";

:root {
    --cor1: black;
    --cor2: white;
}

a {
    text-decoration: none;
}

/*LAYOUT*/

.layout {
    display: grid;
    grid-template-areas: 
    "header"
    "main";
}

/*HEADER*/

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    grid-area: header;

    background-color: var(--cor1);
    color: var(--cor2);
    padding: 5px 50px;
}

.header a {
    color: white;
}

.header .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.header img {
    max-width: 50px;
}

.header span {
    font-size: 1.5rem;
    font-weight: bold;
}

.header .menu {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    list-style: none;
}

.header .menu li {
    padding: 15px 0px;
    width: fit-content;
}

.header .menu a {
    padding: 10px;
    border-radius: 10px;
    transition: .2s;
}

.header .menu a:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}

/*MAIN*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "main-news side-news-1"
    "main-news side-news-2";
    gap: 25px;
    justify-content: center;

    grid-area: main;
    padding: 25px 50px;
}

.highlight-news {
    display: grid;
    grid-template-rows: min-content 1fr min-content;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.53);
    padding: 10px;
    border-radius: 20px;
}

.highlight-news .topic {
    background-color: rgba(255, 38, 0, 0.762);
    font-size: 1.2rem;
    font-weight: bold;
    width: fit-content;
}

.highlight-news .title {
    background-color: rgba(0, 0, 0, 0.616);
    align-self: end;
    font-size: 2.3rem;
}

.highlight-news .sub-title {
    background-color: rgba(0, 0, 0, 0.384);
    align-self: end;
    font-size: 1.2rem;
}

.topic, .title, .sub-title {
    padding: 10px;
    border-radius: 10px;
    margin: 2px 0;
    color: white;
}



main .main-news {
    grid-area: main-news;
    width: 100%;
    aspect-ratio: 680 / 550;
    background: black url(../images/assets/davy.jpg) no-repeat center center / cover;
}

main .side-news-1 {
    grid-area: side-news-1;
}

main .side-news-2 {
    grid-area: side-news-2;
}
